.pokedex
{
    
    text-transform: capitalize;
    width: 30%;
    height: 40px;
    text-align: center;
    font-size: 20pt;
    display: inline-block;
    margin-bottom: 15px;
    margin-right: 10px;
    border: solid;
    transition: width, height, font-size;

}

.pokedex:hover
{
    width: 33%;
    height: 50px;
    font-size: 25pt;
    
    
    
    
    
    
}

#titleholder
{
    text-align: center;
    margin-bottom: 20px;
    font-size: 30pt;
    background-color: black;
    color: whitesmoke;
    
    
    
    
    
}

.pokedexName
{
    color: black;
    text-transform: capitalize;
    
    
    
    
    
}











/* page 2 pokeView */

#sidebarholder
{
    
    position: fixed;
    right: 0px;
    top: 0px;
    background-color: black;
    height: 100%;
    width:30%;
}

#sidebartitle
{
    
    height:10%;
    color: white;
    text-align: center;
    background-color: black;
    
}

#pokemonholder
{
    
    height:90%;
    bottom: 0px;
    background-color: red;
    overflow: auto;
    
    
    
    
}


.pokemonEntry
{
    
    border: solid;
    margin-bottom: 10px;
    text-align: center;
    height: 35px;
    background-color: white;
    text-transform: capitalize;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20pt;
    
    
    
    
    
}





#infoholder
{
    position: fixed;
    left: 0px;
    top: 0px;
    width: 70%;
    height: 100%;
    background-color: white;
    
    
    
    
    
}











